<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="../css/details.css">
</head>
<body>
    
  <div class="navbar">
    <div class="nav-left">
      <img src="../images/bookmyshow-logo-31BC3C7354-seeklogo.com-removebg-preview.png" alt="">
      <input type="search" id="nav-search" placeholder="Search for Movies,Events,Plays,Sports and Activities">
    </div>
    <div class="nav-right">
      <select name="location" id="location">
        <option value="kochi">Kochi</option>
        <option value="kochi">tvm</option>
        <option value="kochi">clct</option>
    </select>
    <button>Sign in</button>
    <i class="fa fa-bars" aria-hidden="true"></i>
    </div>
  </div>

  <!-- second nav -->

      <div class="second-nav">
       <!-- <div class="container"> -->
        <div class="secnav-left">
          <div><a href="">Movies</a></div>
          <div><a href="">Stream</a></div>
          <div><a href="">Events</a></div>
          <div><a href="">Plays</a></div>
          <div><a href="">Sports</a></div>
          <div><a href="">Activities</a></div>
          <div><a href="">Buzz</a></div>
          <!-- <div><img src="./images/cwc23.avif" alt=""></div> -->
        </div>
        <div class="secnav-right">
          <div><a href="">ListYourShow</a></div>
          <div><a href="">Corporates</a></div>
          <div><a href="">Offers</a></div>
          <div><a href="">Gift Cards</a></div>
        </div>
       </div>
      </div>

    <div class="background">
      <div class="overlay"></div>
      <img src="../images/background_5ed405c989_o.jpg" alt="">
      <div class="content">
        <img src="../images/leo2-et00351731-1675663884.avif" alt="">
        <div class="content-label">
          <h2>Leo</h2>
          <i class="fa fa-star" aria-hidden="true"></i><span>8.4/10</span><span id="votes"> 328.8k votes<i class="fa fa-angle-right" aria-hidden="true"></i></span></h5>
          <div class="rate-card">
            <div class="rate-label">
              <h5>Add your rating and review</h5>
              <p>Your ratings matter</p>
            </div>
            <button id="rate-btn">Rate now</button>
          </div>

          <div class="btns">
            <button id="max">2D,IMAX 2D</button>
            <button>Tamil,Hindi,Telungu,Kannada</button>
          </div>
          <p id="duration">2h 44m  •  Action, Thriller  •  UA  •  19Oct, 2023</p>
          
        </div>

      </div>
      
    </div>
    
    
</body>
</html>